@import "tailwindcss";

@theme {
  --color-primary: hsla(233, 80%, 71%, 1);
  --color-secondary: hsla(232, 39%, 36%, 1);
  --color-yousra  :hsla(245, 45%, 49%, 1);
  --color-sous : hsla(235, 100%, 98%, 1);
  --color-error:#DC2626;
  --color-gray:#777777;
  --font-body: 'Inter', sans-serif;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-primary: 'Poppins', sans-serif;
 
}


@layer base {
  body {
    font-family: var(--font-primary);
  }
}



@layer base {
  :root {
    --color-primary: hsla(233, 80%, 71%, 1);
    --color-secondary: hsla(232, 39%, 36%, 1);
  }
}



@layer components {
  .container {
    @apply m-auto bg-white  h-max pb-4 lg:h-full;
  }
  .custom-container {
    @apply w-[90%]  m-auto h-full;
  }

  .input-primary {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2;
  }

  .input-primary:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 4px var(--color-primary);
  }
}

@media (min-width: 1024px) {
  .custom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}
